@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  /* geist has some ugly ligatures that fucks with how monospace looks */
  font-variant-ligatures: none;
}
